@model System.Collections.Generic.List<DotNetTrainingBatch3.Database.Models.TblBlog>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>